@import 'part:@sanity/base/theme/variables-style';

.root {
  @nest & > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  @nest & > div + div {
    margin-left: calc(0 - var(--small-padding));
  }
}

.plus {
  font-weight: 600;
  margin-left: 0.25rem !important;
  font-size: 12px;
  line-height: 1.5rem;
  color: var(--gray);

  @nest .root:hover & {
    color: inherit;
  }
}
