@import 'part:@sanity/base/theme/variables-style';

.columnActive,
.columnInactive {
  background-color: color(var(--hairline-color) alpha(0%));
  transition: background-color 125ms;
  height: 100%;
}

.columnActive {
  background-color: color(var(--hairline-color) alpha(5%));
}

.column {
  border-left: 1px solid var(--hairline-color);
  height: 100%;
  user-select: none;
}
